<?xml version="1.0" encoding="UTF-8"?>
<!--
  Per IIS (Windows, es. Plesk) quando il dominio punta a public/: equivale al
  .htaccess nella stessa cartella. Le richieste che non sono file esistenti
  vanno a index.php. Richiede il modulo URL Rewrite di IIS (presente su Plesk).
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Benzina" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <!-- Mostra gli errori dell'app (JSON) invece della pagina di errore di IIS. -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
